.picturestack{
    filter: brightness(80%);
   
}
.top-left {
    position: absolute;
    top: 10px;
    left: 45px;
    filter: brightness(150%);
}
.top-right {
    position: absolute;
    top: 25px;
    right: 45px;
    filter: brightness(150%);
}
.centered1 {
  font-size:40pt;
    color: beige;
    float:left;
    position: absolute;
    top:180px;
    margin-left:-800px;
    filter: brightness(200%);

  }
  .centered2{
    font-size:20pt;
    color: white;
    float:left;
    position: absolute;
    top:315px;
    margin-left:-800px;
    filter: brightness(200%);

  }
 .centered3{
  font-size:15pt;
  color: white;
  float:left;
  position: absolute;
  top:370px;
  margin-left:-800px;
  filter: brightness(200%);

 }  
 .email{
   
   position: absolute;
   top: 425px;
   float:left;
   margin-left:475px;
 }

  .tv{
      background:black;
      width:1460px;
      height:450px;
      margin-top: -4.5px;
      border-top: 5px solid maroon;
      
  }
  
  .download{
    background:black;
    width:1460px;
    height:450px;
    margin-top: -4.5px;
    border-top: 5px solid maroon;

  }
  .watch{
    background:gray;
    width:1460px;
    height:300px;
    margin-top: -4.5px;
    border-top: 5px solid maroon;

  }
  .watch-writing{
    color: black;
    margin-left:180px;

  }
  .kids{
    background:black;
    width:1460px;
    height:470px;
    margin-top: -4.5px;
    border-top: 5px solid maroon;
  }
  .footer{
    background:gray;
    width:1460px;
    height:300px;
    margin-top: -4.5px;
    border-top: 5px solid maroon;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
      
  }
  .enjoytv{
    font-size:40pt;
    color: white;
    float:left;
    position: absolute;
    top:850px;
    margin-left: 200px;

  }
  .enjoytv2{
    font-size:20pt;
    color: white;
    float:left;
    position: absolute;
    top:950px;
    margin-left: 200px;

  }
  .downloadt1{
    font-size:40pt;
    color: white;
    float: right;;
    position: absolute;
    top:1250px;
    margin-left:800px;

  }
  .downloadt2{
    font-size:20pt;
    color: white;
    float: right;;
    position: absolute;
    top:1400px;
    margin-left:800px;

  }
  .kids1{
    font-size:40pt;
    color: maroon;
    float: right;;
    position: absolute;
    top:2050px;
    margin-left:800px;

  }
  .kids2{
    font-size:20pt;
    color:orangered;
    float: right;
    position: absolute;
    top:2150px;
    margin-left:800px;

  }